.header {
  padding: 24px 0;
  display: flex;
  gap: 24px;
  justify-content: center;
  background-color: #282c34;
}

.nav-link {
  color: var(--secondary-color);
  font-family: "Patrick Hand";
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
}

.active {
  color: var(--primary-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }
}

.section {
  padding-top: 48px;
  padding-bottom: 48px;
}

.nav-link {
  padding: 6px 12px;
  font: inherit;
  font-size: 24px;
  color: #61dafb;
  background-color: transparent;
  /* border: 4px solid transparent; */
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  background-color: #7d7d7d;
}

.active {
  color: #61dafb;
  text-decoration: none;
}

.title {
  text-align: center;
}

/* section users */
.user-list {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 16px 0 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.user-item,
.events-item {
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-item:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

/* section events */

/* modal styles */
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1500;
}

.Modal {
  background-color: rgb(77, 74, 71);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 70%;
}

/* Buton Load more */
.ButtonWrap {
  display: flex;
  justify-content: center;
  padding: 16px 0;
}

.Button {
  padding: 8px 16px;
  border-radius: 2px;
  background-color: #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  display: inline-block;
  color: #fff;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  min-width: 180px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.Button:hover,
.Button:focus {
  background-color: #4ea1e5;
}
